@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="@Url.Content("~/css/login.css")" asp-append-version = "true" >

<div class="container">
    
    <div class="frmLogin"  class="">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form "   style="margin: 0; width: 100%;  position: relative; min-height: 100%;">
                <a class="img img-responsive" style="margin-bottom: 30%;">
                    <img id="imgLogo" style=" "src='~/images/logoSensatta.png' />                    
                </a>  
                <div asp-validation-summary="All" class="text-danger" style="text-align: left;"></div>
                <div class="form-group" >
                    <label asp-for="Email" style=""></label>
                    <input asp-for="Email" class="form-control" id="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" id="passwd" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" id="btnLogin">Entrar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Esqueceu a senha?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registrar novo usuário?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

    

    
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}




